main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90.456px;
}
.top-container {
  width: 90%;
  height: 100%;
  position: relative;
}
.top-container::after {
  width: 50%;
  height: 544px;
  top: -250px;
  left: 300px;
  content: "";
  position: absolute;
  background-image: url("https://lh3.googleusercontent.com/GjUl0h_qcK1hlTh_B5YnulMGAXHt2cO00HAxBxIyZ7gasXT75GJLkeogEWb04_0PXE_MSfl0dCoS2qeQhw=w544-h544-l90-rj");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
}

.lower_container {
  width: 90%;
  height: 100px;
  margin-top: 60px;
  padding-bottom: 16px;
}

.sm-titles {
  width: 100%;
  margin: 0px 56px;
  padding-top: 16px;
  padding-bottom: 8px;
}

.sm-title {
  color: #aaa;
  font-weight: 400;
  margin-bottom: 2px;
}

.main-title {
  font-weight: 700;
  font-size: 35px;
}

.contents {
  width: 85%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
}
.album img {
  width: 190px;
  height: 190px;
  border-radius: 3px;
}

.music-video img {
  width: 280px;
  height: 200px;
  border-radius: 3px;
}

img:hover {
  filter: brightness(70%);
}

.album__name a {
  color: #fff;
  text-decoration-line: none;
}

.album__name a:hover {
  text-decoration-line: underline;
}
.album__singer,
.album__singer a {
  color: #aaa;
  text-decoration-line: none;
}

.album__singer a:hover {
  text-decoration-line: underline;
}

.quick-music__sm-box a:hover {
  text-decoration-line: underline;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%);
  top: 40%;
  right: 110px;
}
.arrow a:visited {
  color: #000;
}
.arrow a:active {
  color: #000;
}

.quick-music {
  width: 83%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.xs_album {
  display: flex;
  width: 350px;
}
.xs_album img {
  margin-right: 15px;
  width: 48px;
  height: 48px;
  border-radius: 2px;
}

.quick-music__sm-box {
  width: 100%;
}

.quick-music__sm-box i {
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick-music__sm-box {
  margin: 0px 2px;
}

.quick-music__title {
  width: 100%;
  margin-bottom: 2px;
}

.quick-music__title a {
  text-decoration-line: none;
  color: #fff;
}

.quick-music__singer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.quick-music__singer a {
  color: #aaa;
  text-decoration-line: none;
  margin: 0px 2px;
}

.arrow-2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%);
  top: 103%;
  right: 110px;
}

.arrow-2 a:visited {
  color: #000;
}
.arrow-2 a:active {
  color: #000;
}

.lower_container__mix {
  width: 90%;
  height: 70px;
  margin-top: 60px;
  padding-bottom: 0px;
}

.mix-album {
  width: 180px;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.mix-album img {
  width: 180px;
  height: 180px;
  border-radius: 3px;
}

.mix-album a {
  display: flex;
  flex-direction: column;
}

.mix-album__name a {
  margin-top: 10px;
  margin-bottom: 3px;
}

.mix-album__name a:link {
  color: #fff;
  text-decoration-line: none;
}
.mix-album__name a:visited {
  color: #fff;
}

.mix-album__name a:hover {
  text-decoration-line: underline;
}

.mix-album__singer {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 2.4em;
}

.mix-album__singer a:link {
  color: #aaa;
  text-decoration-line: none;
}
.mix-album__singer a:visited {
  color: #aaa;
}

.mix-album__singer a:hover {
  text-decoration-line: underline;
}

.arrow-3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%);
  top: 160%;
  right: 110px;
}

.arrow-3 a:visited {
  color: #000;
}
.arrow-3 a:active {
  color: #000;
}

.lower-container__recommend {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 50px;
  margin-top: 60px;
  margin-left: 0px;
}

.sm-titles__recommend {
  width: 100%;
  margin: 0px 10px;
  padding-top: 16px;
  padding-bottom: 8px;
}

.recommend-img img {
  margin-left: 50px;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.artists {
  width: 83%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.artist {
  width: 180px;
  text-align: center;
}

.artist__name a:link {
  color: #fff;
  text-decoration-line: none;
}
.artist__name a:visited {
  color: #fff;
}

.artist__name a:hover {
  text-decoration-line: underline;
}

.artist img {
  width: 180px;
  height: 180px;
  border-radius: 90px;
}

.subscribers {
  color: #aaa;
}

.arrow-4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%);
  top: 220%;
  right: 110px;
}

.arrow-4 a:visited {
  color: #000;
}
.arrow-4 a:active {
  color: #000;
}
