nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
  padding: 8px;
}

.nav-md-lists,
.nav-end-lists {
  font-size: 20px;
}

.nav-md-lists {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.nav-end-lists {
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}

.nav-end-lists img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
