nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  position: fixed;
  background-color: rgba(3, 3, 3, 0.8);
  z-index: 2;
}

.nav-md-lists a:link {
  color: #fff;
  text-decoration-line: none;
}
.nav-md-lists a:visited {
  color: #aaa;
}
.nav-md-lists a:hover {
  color: #fff;
}
.nav-md-lists a:active {
  color: #fff;
}
.nav-md-lists,
.nav-end-lists {
  font-size: 20px;
}

.nav-md-lists {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.nav-end-lists {
  display: flex;
  width: 100px;
  justify-content: space-around;
  align-items: center;
}

.nav-end-lists img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
